Service References/ServiceReferenceDescifrado/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CargarDataController">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idServicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarDataControllerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargarDataControllerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>